* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #2f363e;
}

.container {
    position: relative;
    width: 300px;
    background-color: #2f363e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.box1{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);

    .temp span {
        font-size: 28px;
        font-weight: bold;
        color: #fff;
    }

    .temp sup {
        color: #fff;
        font-size: 18px;
    }

    .icon img{
        width: 30px;
        height: 30px;
    }
}

.box2{
    position: absolute;
    height: 100px;
    width: 100px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);

    .container1 {
        font-size: 25px;
        font-weight: bold;
        color:  rgba(0, 0, 0, 0.749);
    }
}

.selectbox{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);

    input{
        position: relative;
        width: 90px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: transparent;
        color: #fff;
        font-size: 14px;
        padding: 0 10px;
        outline: none;
    }
}

.clock {
    width: 300px;
    height: 300px;
    background: #2f363e;
    position: relative;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background: #2f363e;
        border: 3px solid #fff;
        border-radius: 50%;
        z-index: 100000;
    }

    & span {
        position: absolute;
        inset: 8px;
        color: #fff;
        text-align: center;
        transform: rotate(calc(30deg * var(--i)));

        & b {
            font-size: 2em;
            opacity: 0.25;
            font-weight: 600;
            display: inline-block;
            transform: rotate(calc(-30deg * var(--i)));
        }
    }
}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;

    & i {
        position: absolute;
        width: 6px;
        height: 50%;
        background: var(--clr);
        opacity: 0.75;
        transform-origin: bottom;
        transform: scaleY(0.5);
    }
    &:nth-child(1) i {
        width: 2px;
    }

    &:nth-child(2) i {
        width: 6px;
    }
}

.circle2 {
    width: 150px;
    height: 150px;
    z-index: 9;
}

.circle3 {
    width: 100px;
    height: 100px;
    z-index: 8;
}

.circle::before {
    content: '';
    position: absolute;
    top: -8.5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr),
        0 0 60px var(--clr);
}

.text {
    position: absolute;
    bottom: 50px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        color: #2f363e;
        font-size: 2rem;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5),
                    -1px -1px 1px rgba(0, 0, 0, 0.5);
    }

    p sup{
        background: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        padding: 4px 5px;
        
    }
}
